@import url("node_modules/bootstrap-icon/font/bootstrap-icons.css");
@import 'custom';


html{
    position: relative;
    min-height: 100%;
}

footer.footer {
    padding: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}